.fl{
    float:left;
 }
.fr{
    float:right;
}
.cls{
	clear:both;
}
.hide{
	display: none;
}
.hr{ 
    border: solid 1px #f4f4f4;
}
.btn{ // 按钮样式
	  padding: 10px 20px;
    color: #fff;
    border-radius: 3px;
    background: #ed4545;
    border: none;
    display: inline-block;
    cursor: pointer;
    outline: none;
}
.dis-btn{ // 按钮灰色不可点击状态
    padding: 10px 20px;
    color: #fff;
    border-radius: 3px;
    background: #ccc;
    border: none;
    display: inline-block;
    cursor: pointer;
    outline: none;
}

.opacity50{
    opacity:.5; 
    filer:alpha(opacity=50);
}

.textoverflow{ //文字溢出...代替，超实用
    text-overflow:ellipsis; 
    white-space:nowrap; 
    overflow:hidden;
}
